<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Valorame</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-row *ngIf="visibleCategorias">
        <ion-col col-12 no-margin no-padding (click)="openCategorias()" class="item-home">
          <div>
            <ion-icon name="folder"></ion-icon>
            Categorías
          </div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="visibleElementos">
        <ion-col col-12 no-margin no-padding (click)="openElementos()" class="item-home">
          <div>
            <ion-icon name="paper"></ion-icon>
            Elementos
          </div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="visibleRanking">
        <ion-col col-12 no-margin no-padding (click)="openRanking()" class="item-home">
          <div>
            <ion-icon name="star"></ion-icon>
            Ranking
          </div>
        </ion-col>
    </ion-row>
</ion-content>
